body {
    margin: 0;
    padding: 0;
}

#page-background-img {
    position: fixed;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    top: 15em;
    position: relative;
    transform: translateY(-50%);
}

.request-form {
    width: inherit;
    float: left;
    padding: 0 2em 2em 2em;
}

.city-input {
    width: 30em;
}

.date-input {
    width: 7em !important;
}

#submit-input {
    width: 15em;
}
.aligh-right {
    float: right;
}
.justify-right {
    padding-left: 2em;
}


.result-table {
    float: left;
    width: 100%;

    background-color: #fff;
}
.result-table-panel-title {

}
.result-table-panel-difference-time {

}
#result-table-time-table span {
    vertical-align: middle;
}
.result-table-panel-time {
    font-size: 2em;
    font-weight: bold;
}

.result-table-panel-start {

}
.result-table-panel-destination {

}


.result-table-panel-title-right {
    width: 10em;
    float: right;
}
.result-table-panel-title-right-content {
    width: 10em;
}