<div id="content">
    <div id="search-form" ng-show="!showActions" class="sample-show-hide">
        <form class="form-inline request-form" role="form">

            <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-map-marker">A</span>
                        </span>
                <!-- HONNAN -->
                <input type="text" id="from" class="form-control" ng-options="city for city in cities" ng-model="mainCtrl.fromCity"
                       placeholder="Honnan" autofocus autocomplete="off" bs-typeahead>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-map-marker">B</span>
                        </span>
                <!-- HOVA -->
                <input type="text" id="to" class="form-control" ng-options="city for city in cities" ng-model="mainCtrl.toCity"
                       placeholder="Hova" autocomplete="off" bs-typeahead>
            </div>

            <div class="input-group input-group-lg aligh-right">
                       <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                <!-- MIKOR -->
                <input type="text" class="form-control date-input" ng-model="mainCtrl.selectedDate" name="date" bs-datepicker autoclose="true">
            </div>
        </form>
        <form class="form-inline request-form" role="form">

            <!-- SUBMIT-->
            <div class="input-group input-group-lg aligh-right">
                <div class="btn-group">
                    <!--select title="Kedvezmény" type="button" class="selectpicker" ng-model="selected" data-ng-options="discount as discount.name group by discount.group for discount in discounts | orderBy:['group','name']" bs-select>
                        <option value="">Kedvezmény</option></select-->
                    <button type="button" class="btn btn-default btn-lg" ng-model="discount" data-ng-options="discount as discount.name group by discount.group for discount in mainCtrl.discounts | orderBy:['group','name']" bs-select placeholder="Kedvezmény">
                    </button>
                    <button id="submit-search" type="button" class="btn btn-primary btn-lg" ng-click="mainCtrl.submit(mainCtrl.fromCity, mainCtrl.toCity)">
                        <span class="glyphicon glyphicon-search"></span> Keresés
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="result-table" ng-show="showActions" class="sample-show-hide">
        <div class="panel-heading">{{ mainCtrl.result.route }} {{ mainCtrl.result.date }}</div>

        <div class="panel-group" ng-model="mainCtrl.panels.activePanel" bs-collapse>
            <div class="panel panel-default" ng-repeat="schedule in mainCtrl.result.timetable">
                <div class="panel-heading" bs-collapse-toggle>
                    <span class="result-table-panel-title">
                        <span id="result-table-time-table">
                            <span class="result-table-panel-time">{{ schedule.starttime }}</span>
                            <span class="result-table-panel-difference-time"> - {{ schedule.totaltime }} - </span>
                            <span class="result-table-panel-time">{{ schedule.destinationtime }}</span>
                        </span>
                        <span id="result-table-location-table">
                            <span class="result-table-panel-start">{{ schedule.start }}</span>
                            <span class="result-table-panel-destination">{{ schedule.destination }}</span>
                        </span>
                    </span>
                    <span class="result-table-panel-title-right">
                        <table class="result-table-panel-title-right-content">
                            <tr>
                                <td>
                                    <span ng-show="schedule.cost1st">1st</span>
                                </td>
                                <td>
                                    <span ng-show="schedule.cost1st" class="result-table-panel-price-1st">{{ schedule.cost1st }}</span>
                                </td>
                                <td rowspan="2">
                                    <img ng-show="schedule.ticketinfo" src="images/ic_action_new_label.png">
                                </td>
                            </tr>
                            <tr>
                                <td>2nd</td>
                                <td class="result-table-panel-price-2nd">{{ schedule.cost2nd }}</td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="panel-collapse" bs-collapse-target>
                    <div class="panel-body">
                        <table>
                            <tr ng-repeat="detail in schedule.details">
                                <td>{{ detail.from }}</td>
                                <td>{{ detail.dep }}</td>
                                <td>{{ detail.dep_real }}</td>
                            </tr>
                            <ul ng-repeat="service in detail.services">
                                <li>{{ service.code }}</li>
                            </ul>
                        </table>
                    </div>
                    <!--
                    <div id="map_canvas"></div>
                    <script>
                        function initialize() {
                            var map_canvas = document.getElementById('map_canvas');
                            var map_options = {
                                center: new google.maps.LatLng(47.668090, 19.076631),
                                zoom: 15,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                disableDefaultUI: true,
                                scrollwheel: false,
                                navigationControl: false,
                                mapTypeControl: false,
                                scaleControl: false,
                                draggable: false
                            }
                            var map = new google.maps.Map(map_canvas, map_options);
                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(47.668090, 19.076631),
                                map: map,
                                title: 'Hello World!'
                            });
                        }
                        initialize();
                        //google.maps.event.addDomListener(window, 'load', initialize);

                    </script>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
